.contentWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh; /* Faz com que o contêiner ocupe a altura total da tela */
    background-color: #f9f9f9; /* Cor de fundo opcional */
}

.openCaixaButton {
    background-color: #007bff;
    color: #fff;
    padding: 12px 24px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 18px;
    transition: background-color 0.3s, transform 0.3s;
}

.openCaixaButton:hover {
    background-color: #0056b3;
    transform: translateY(-10px);
}

.openCaixaButton:active {
    background-color: #004494;
    transform: translateY(0);
}

.tableContainer {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    overflow-y: auto;
}
